.bg-blanco {
  background-color: #ffffff; /* Color azul oscuro */
}
.bg-gris {
  background-color: #f0f0f0; /* Color azul oscuro */
}
.bg-azul {
  background-color: #1b3b6f; /* Color azul oscuro */
}
.my-gradient {
  background: linear-gradient(to top, #0d2a4a, #1b3b6f); /* negro a bg-dark */
}
.cards-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem; /* separación entre cards */
}
.cards-flex .card {
  flex: 1 1 48%; /* ~dos columnas */
  min-width: 280px; /* evita que sean demasiado pequeñas */
}
